{% extends 'header.html' %}
{% block body %}
    <section class="o-row o-row--lg c-info">
            <div class="o-container">
                <div class="o-section o-section--lg">
                    <div class="o-layout o-layout--gutter-lg o-layout--row-reverse">
                        <div class="o-layout o-layout__item u-1-of-3-bp3 o-layout--justify-center o-layout--align-center">
                            <div class="u-max-witdh-sm">
                                <form action="" method="post">
                                    <label class="c-custom-select">
                                        <select id="daySelect" name="select" oninput="this.form.submit()">
                                            <option value="nothing">No data available!</option>
                                        </select>
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="o-layout__item u-2-of-3-bp3">
                            <div class="u-max-witdh-sm">
                                <div class="c-canvas o-layout o-layout--justify-center">
                                    <canvas id="foodChart" class="c-graph"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <script>{% include 'js/home.js' %}</script>
{% endblock %}